.advantages__wrapper {
  margin: 41px 41px 42px 22px;
}

.advantages__list {
  @include reset-list;
  display: flex;
}

.advantages__item {
  text-align: center;
  background-color: white;

  &--lightblue {
    background-color: #81b3d2;
  }

  &--grey {
    padding-top: 40px;
    margin: 0 auto;
    background-color: #e6e6e6;
  }
}

.advantages__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 53px 67px 63px 68px;
}

.advantages__title {
  @include reset-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  &--white {
    color: #ffffff;
  }
}

.advantages__argument,
.advantages__number {
  @include reset-text;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  &--white {
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
  }

  .advantages__title {
    width: 50%;
    margin-bottom: 20px;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 63px auto 0;
    min-height: 330px;
  }

  .advantages__section {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__list {
    display: flex;
  }

  .advantages__text-wrapper {
    width: 33.33%;

    &--inversed-order {
      order: 2;
    }
  }

  .advantages__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 66.66%;
    min-height: 256px;
    height: auto;

    &--inversed-order {
      order: 1;
    }

  }

  .advantages__image {
    height: 256px;
    width: 100%;
    object-fit: contain;
  }

  .advantages__item {
    &--grey {
      display: flex;
      justify-content: space-between;
      margin-right: 110px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    &--grey {
      display: flex;
      margin-right: 130px;
    }
  }
}
