.advantages__list {
  @include reset-list;
}

.advantages__item {
  background-color: white;
  text-align: center;

  &--lightblue {
    background-color: #81b3d2;
  }

  &--grey {
    background-color: #e6e6e6;
    padding-top: 40px;
    margin: 0 auto;
  }
}

.advantages__item--lightblue:first-child {
  padding: 61px 27px 45px 28px;
  margin-bottom: 33px;
}

.advantages__title {
  @include reset-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  &--white {
    color: #ffffff;
  }
}

.advantages__argument,
.advantages__number {
  @include reset-text;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  &--white {
    color: #ffffff;
  }
}

.advantages__item--grey:last-child {
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .advantages__text-wrapper {
    display: flex;
  }

  .advantages__item--grey {
    display: flex;
    margin-right: 110px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text-wrapper {
    display: flex;
  }

  .advantages__item--grey {
    display: flex;
    margin-right: 130px;
  }
}
