.intro__title {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}

.intro__text {
  font-family: PTSans;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
