.promo {
  background-color: white;
  text-align: center;
}

.promo__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}

.promo__argument {
  font-size: 14px;
  text-align: center;
  color: #333333;
  line-height: 26px;
}
