.search-hotel {
  background-color: white;
  text-align: center;
  padding-top: 33px;
  margin: 0 auto 50px;
}

.search-hotel__title {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
}

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.search-hotel__show {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
 .search-hotel {
  padding-top: 57px;
  margin: 0 auto 58px;
 }
}
@media (min-width: $desktop-width) {
  .search-hotel {
    padding-top: 57px;
    margin: 0 auto 66px;
  }
}
