.search-hotel {
  margin: 0 auto 50px;
  padding-top: 33px;
  text-align: center;
  background-color: white;
}

.search-hotel__title {
  @include reset-text;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
}

.search-hotel__text {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.search-hotel__show {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .search-hotel {
    margin: 0 auto 58px;
    padding-top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .search-hotel {
    padding-top: 57px;
    margin: 0 auto 66px;
  }
}
