.social__list {
  @include reset-list;
  display: flex;
}

.social__list:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $lightblue;
}
@media (min-width: $tablet-width) {
  .social__list {
    width: 150px;
  }

}

@media (min-width: $desktop-width) {
  .social__list  {
    width: 400px;
  }
}
