.video__title--wrapper {
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 40px;
}

.video__title {
  @include reset-text;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblack;
}

.video__argument {
  @include reset-text;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $lighterblack;
}

.video__wrapper {
  width: 321px;
  height: 201px;
}

.video__interface {
  width: 280px;
  height: 66px;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .video__title--wrapper {
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 78px;
  }

  .video__wrapper {
    width: 648px;
    height: 499px;
  }

  .video__interface {
    width: 648px;
    height: 93px;
    opacity: 0.6;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .video__title--wrapper {
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 76px;
  }

  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: 199px;
    margin-right: 201px;
  }

  .video__interface {
    width: 800px;
    height: 93px;
    opacity: 0.6;
  }
}
