@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-text {
  margin: 0;
}

@mixin reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin big-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

@mixin text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

@mixin container-default {
  min-width: $mobile-width;
  max-width: $desktop-width;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

@mixin container-mobile {
  width: $mobile-width;
  margin: 0 auto;
}

@mixin container-tablet {
  width: $tablet-width;
  margin: 0 auto;
}

@mixin container-desktop {
  width: $desktop-width;
  margin: 0 auto;
}
