@font-face {
  font-family: 'PT Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       url('/fonts/awesome.woff2') format('woff2'),
       url('/fonts/awesome.woff') format('woff'),
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans'),
       url('/fonts/awesome-i.woff2') format('woff2'),
       url('/fonts/awesome-i.woff') format('woff'),
}
