.search-hotel {
  background-color: white;
  text-align: center;
}
.search-hotel__title {
  font-family: PTSans;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
}

.search-hotel__text {
  font-family: PTSans;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  line-height: 24px;
}

.search-hotel__show {
  font-family: PTSans;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
